body {
    --color-1: #4eb2fa; 
    --color-2: #3ba1e7; 
    --color-3: #278fd4; 
    --color-4: #147ec1; 
    --color-5: #006cae;
    --text-color: #fff;
    --font-size-h2: 3rem;
    --font-size-legend: 2rem;
    --font-size-label: 1.3rem;
    --padding-input: 20px 30px;
    --fieldset-padding: 10px;
    --border-radius: 8px;
    --font-size-placeholder: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg,rgba(240, 240, 240, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.main-bar {
    position: relative
}

.main-bar__form {
    min-width: clamp(200px, 70dvw, 600px);
    display: flex;
    flex-direction: column;
    padding: 10px 10px 50px 10px;
    color: var(--text-color);
    gap: 1.9rem;
    overflow: hidden;
    margin-top: -12px;
    box-sizing: border-box;
}

.main-bar__form h2 {
    text-align: center;
    font-size: var(--font-size-h2);
    text-wrap: balance;
    color: var(--color-5);
}

.main-bar__fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 0px;
    border: none;
    margin-top: -2.5rem;
}

.main-bar__fieldset legend {
    font-size: var(--font-size-legend);
    text-align: center;
    color: var(--color-4);
}

:is(div,input,textarea,select) {
    border-radius: var(--border-radius);
}

:is(input,textarea) {
    border: none;
    background-color: transparent;
    font-size: var(--font-size-placeholder);
    color: var(--color-1);
}

:is(input,textarea)::placeholder {
    font-size: var(--font-size-placeholder);
    opacity: 1;
    color: var(--color-1);
}

.main-bar__fieldset div {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-label);
    position: relative;
    border-bottom: 3px solid var(--color-1);
}

.main-bar__fieldset div input {
    padding: var(--padding-input);
    outline: none;
    position: relative;
    top: 10px;
    left: -25px;
}

.main-bar__fieldset div input:focus {
    transition: all .2s ease-in;
    left: 0;
    color: var(--color-5);
}

.main-bar__fieldset div input:focus::placeholder {
    color: var(--color-5);
    
}

.main-bar__form-two {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: var(--border-radius);
    color: var(--color-1);
}

.main-bar__form-two div {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-label);
    position: relative;
}

.main-bar__form-two div:first-child {
    border-bottom: 3px solid var(--color-1);
    flex-direction: row;
    justify-content: space-between;
}

.main-bar__form-two div:first-child label {
    position: relative;
    left: 5px;
    top: 4px;
    font-size: 1.4rem;
    color: var(--color-4);
}

.main-bar__form-two div:first-child select {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1.4rem;
    margin-bottom: 15px;
    position: relative;
    top: 4px;
    color: var(--color-1);
}

.main-bar__form-two div input {
    padding: var(--padding-input);
    background-color: var(--color-3);
}

.main-bar__form-two div:nth-child(2) input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--color-1);
    font-size: var(--font-size-label);
    color: var(--color-);
}

.main-bar__form-two div:nth-child(2) input::placeholder {
    position: relative;
    left: -25px;
    top: 10px;
    color: var(--color-5);
}

.main-bar__form-two div:nth-child(2) datalist {
    margin-left: -25px;
}

.main-bar__form-two div:nth-child(3) label {
    position: relative;
    left: 5rem;
}

.main-bar__form-two div:nth-child(3) div > div {
    position: absolute;
}

.main-bar__form-two div:nth-child(3) textarea {
    background-color: transparent;
    border: none;
    padding: var(--padding-input);
    height: 10dvh;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    position: relative;
    left: -25px;
    min-width: clamp(200px, 85dvw, 600px);
    text-wrap: pretty;
    resize: none;
}

.main-bar__form-two div:nth-child(3) textarea::placeholder {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-bar__form-two div:nth-child(3) textarea:focus{
    transition: all .2s ease-in;
    left: 0;
    top: 0;
    color: var(--color-5);
}

.main-bar__form-two div:nth-child(3) textarea:focus::placeholder  {
    color: var(--color-5);
}

button {
    margin: auto;
    width: 50%;
    padding: 20px 0;
    border-radius: 4px;
    border: none;
    font-size: var(--font-size-placeholder);
    font-weight: bold;
    background-color: var(--color-1);
    color: var(--text-color);
    text-shadow:    2px 2px 2px #222,
                    2px 2px 2px #222;
}

.main-bar__form::before {
    content: '';
    background-color: var(--color-3);
    width: 50%;
    height: 23%;
    position: absolute;
    top: 4rem;
    left: -3rem;
    z-index: -1;
    border-radius: 50%;
    animation: circle 5s  both linear infinite alternate-reverse;
    opacity: .1;
    display: none;
}

.main-bar__form::after {
    content: '';
    background-color: var(--color-3);
    width: 50%;
    height: 23%;
    position: absolute;
    top: 4rem;
    left: -3rem;
    z-index: -1;
    border-radius: 50%;
    animation: circle-small 5s both linear infinite alternate-reverse;
    opacity: .1;
    display: none;
}

@keyframes circle {
    from {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        transform: translate(0%);
    }

    to {
        top: 88%;
        left: 1%;
        transform: translate(100%);
    }
}

@keyframes circle-small {
    from {
        top: 88%;
        left: 1%;
        transform: translate(100%);
    }

    to {
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        transform: translate(0%);
    }
} 

/* MEDIA QUERIES */

@media screen and (min-width: 37.5rem) {
    .main-bar {
        margin-top: 50px;
    }
    .main-bar__form {
        margin: auto;
        max-width: clamp(200px, 70dvw, 600px);
        padding: 0;
        gap: .5rem;
        margin-top: -6.2rem;
        padding: 40px;
        border: none;
        border-radius: 10px;
    }

    .main-bar__fieldset {
        padding: 20px 0 0 0;
        margin-top: -2.5rem;
        gap: .5rem;
    }

    .main-bar__fieldset legend {
        color: #444;
    }

    .main-bar__fieldset div {
        border-radius: 0;
        border: none;
    }  

    .main-bar__fieldset div input:hover {
        background-color: #4eb2fa22;
        color: var(--color-5);
    }

    .main-bar__fieldset div input::placeholder {
        color: #444a;
    }

    .main-bar__fieldset div input:hover::placeholder {
        color: #444;
    }

    .main-bar__fieldset div input {
        background-color: #4eb2fa11;
        top: 0px;
        left: 0px;
        border-radius: 10px;
    }

    .main-bar__form-two {
        gap: .5rem;
    }

    .main-bar__form-two div:first-child {
        border-bottom: none;
        background-color: #4eb2fa11;
        padding: 10px 25px;
    }

    .main-bar__form-two div:nth-child(2) input {
        background-color: #4eb2fa11;
        border: none;
    }

    .main-bar__form-two div:nth-child(2) input::placeholder {
        left: 0px;
        top: 0px;
    }

    .main-bar__form-two div:nth-child(3) div {
        display: flex;
}

    .main-bar__form-two div:nth-child(3) div > div {
        margin: auto;
        position: static;
        display: flex;
    }

    .main-bar__form-two div:nth-child(3) textarea {
        margin: auto;
        position: static;
        left: 0px;
        min-width: clamp(200px, 35dvh, 400px);
    }

    .main-bar__form-two div:nth-child(3) textarea:hover {
        background-color: #4eb2fa22;
    }

    .main-bar__form-two div:nth-child(3) textarea::placeholder {
        color: #444a;
    }

    .main-bar__form-two div:nth-child(3) textarea:hover::placeholder {
        color: #444a;
    }

    .main-bar__form-two div:nth-child(3) textarea:focus::placeholder  {
        color: var(--color-5);
    }

    button {
        cursor: pointer;
    }

    button:hover {
        background-color: var(--color-5);
    }

}

@media screen and (min-width: 45rem) {

    .main-bar__form-two div:nth-child(3) textarea {
        min-width: clamp(300px, 60dvh, 900px);
    }
}

@media screen and (min-width: 81.25rem) {

    .main-bar__form {
        gap: 1.2rem;
        
    }

    .main-bar__form div {
        gap: 1.2rem;
    }

    .main-bar__fieldset {
        gap: 1.2rem;
    }

    .main-bar__form-two div:nth-child(3) textarea {
        min-width: clamp(400px, 50dvh, 600px);
    }
}